body
{
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #00aabb;
  }
  100% {
    background-color: 00abcd;
  }
}

h1{
        text-align: center;
        background-color: purple;
        padding: 10px;
        font-size: 20;
        display:block;
        border-style: solid;
        border-width: 3px;
        font-family:fantasy;
        font-style: oblique;
      }
li
    {
        background-color:  #66ff66;
    }

    .general
    {
      background-color:  #66ff66;
    }
    p
        {
          text-align: center;
          font-family:monospace;
          font-style:italic;
          font-size: 16px;
          background-color:#99ccff;
        }
img
{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 25%;
  background-color: blue;
  padding: 5px;
}
li
{
  font-family:serif;
}
