h1{
        text-align: center;
        background-color: purple;
        padding: 10px;
        font-size: 12;
        display:block;
        border-style: solid;
        border-width: 3px;
        font-family:monospace;
        font-style: oblique;
    }
    p
        {
          text-align: center;
          font-family:monospace;
          font-style:italic;
        }
img
{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 25%;
  background-color: blue;
}
body
{
  background-color:grey;
}
